h1,
h3,
h4,
h5 {
  font-family: 'Courier New', Courier, monospace;
}
#root {
  padding: 0%;
  margin: 0%;
  background: #f6edb6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background: #f6edb6;
}

.hand {
  cursor: pointer;
  color: #766b62;
}

.hand:hover {
  cursor: pointer;
  color: #212121;
}

.handSell {
  cursor: pointer;
}

.handSell:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}

.card-img-top {
  width: 100% !important;
  height: 19rem !important;
  border-radius: 0 !important;
}

.nav-link > .active {
  border-bottom: 3px solid #a49592;
}

.active {
  color: #a49592;
}

.active:hover {
  text-decoration: none;
  color: #a49592;
}

@media (max-width: 550px) {
  .img-style {
    width: 18rem !important;
  }
  .font-size {
    font-size: 1rem !important;
  }
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

h4 {
  color: #212121 !important;
}

p {
  color: #a49592;
}

.yellow {
  background-color: #f6edb6;
}

.brown {
  background-color: #a49592;
}

.green {
  background-color: #c9d6c9;
}

.insta-link {
  color: #212121 !important;
}

/* rgb(124, 146, 124, 1) */

.insta-link:hover {
  color: #ecd3c0 !important;
}

.btn-primary {
  font-weight: bold !important;
  color: #fff;
  background-color: #ecd3c0 !important;
  border-color: #ecd3c0 !important;
}

.btn-primary-card {
  font-weight: bold !important;
  color: #fff !important;
  background-color: #ecceb7 !important;
  border-color: #ecd3c0 !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ecceb7 !important;
  border-color: #c0aa99 !important;
}

.dropdown-menu-right {
  right: -16px !important;
  left: auto;
}

.carousel1 {
  overflow: auto;
  width: 100%;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 0;
  padding-bottom: 10px;
  padding-left: 20px;
}

.carousel-item1 {
  border-radius: 20px !important;
  height: auto;
  overflow: hidden;
  position: relative;
  display: inline-block !important;
  margin-right: 10px;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  white-space: normal !important;
}

.transition {
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}

.rec-arrow:hover:enabled,
.rec-arrow:focus:enabled {
  color: #fff;
  background-color: #ecd3c0 !important;
  box-shadow: 0 0 2px 0 #333;
}

/* .ejXxNI {
  background-color: red !important;
  box-shadow: 0 0 1px 3px #ecd3c0 !important;
} */

.rec-carousel {
  height: 500px !important;
}

.heightProducts {
  max-height: 350px !important;
}

.Toastify__toast--success {
  background: rgb(240, 194, 159) !important;
  color: #766b62;
}

.Toastify__progress-bar {
  background-color: #ecd3c0 !important;
}
