h1,
h3,
h4,
h5 {
  font-family: 'Courier New', Courier, monospace;
}
#root {
  padding: 0%;
  margin: 0%;
  background: #f6edb6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background: #f6edb6;
}

.hand {
  cursor: pointer;
  color: #766b62;
}

.hand:hover {
  cursor: pointer;
  color: #212121;
}

.handSell {
  cursor: pointer;
}

.handSell:hover {
  cursor: pointer;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5) !important;
}

.card-img-top {
  width: 100% !important;
  height: 19rem !important;
  border-radius: 0 !important;
}

.nav-link > .active {
  border-bottom: 3px solid #a49592;
}

.active {
  color: #a49592;
}

.active:hover {
  text-decoration: none;
  color: #a49592;
}

@media (max-width: 550px) {
  .img-style {
    width: 18rem !important;
  }
  .font-size {
    font-size: 1rem !important;
  }
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

h4 {
  color: #212121 !important;
}

p {
  color: #a49592;
}

.yellow {
  background-color: #f6edb6;
}

.brown {
  background-color: #a49592;
}

.green {
  background-color: #c9d6c9;
}

.insta-link {
  color: #212121 !important;
}

/* rgb(124, 146, 124, 1) */

.insta-link:hover {
  color: #ecd3c0 !important;
}

.btn-primary {
  font-weight: bold !important;
  color: #fff;
  background-color: #ecd3c0 !important;
  border-color: #ecd3c0 !important;
}

.btn-primary-card {
  font-weight: bold !important;
  color: #fff !important;
  background-color: #ecceb7 !important;
  border-color: #ecd3c0 !important;
}

.btn-primary:hover {
  color: #fff;
  background-color: #ecceb7 !important;
  border-color: #c0aa99 !important;
}

.dropdown-menu-right {
  right: -16px !important;
  left: auto;
}

/*
.carousel1 {
  overflow: hidden;
  width: 1200px;
  display: block;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  padding-bottom: 10px;
  display: block;
  padding-left: 20px;
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
  width: 8400px;
}

.slick_slider {
  position: static;
  display: block;
  box-sizing: border-box;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
 .carousel-item1 {
  min-height: auto;

  position: relative;
  overflow: hidden;
  display: inline-block !important;
  margin-right: 10px;
  transition: all 0.1s ease-out;
  -webkit-transition: all 0.45s;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-font-smoothing: antialiased;
}

.carousel-item1 {
  outline: none;
  position: relative;
  display: block;
  float: left;
  height: 100%;
  min-height: 1px;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
}

.transition {
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: all 0.45s;
  transition: all 0.45s;
}
*/

.prods {
  opacity: 0;
}

/* .carousel-item1:hover {
  min-height: 420px;
  position: relative;

  display: inline-block !important;
  margin-right: 10px;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-font-smoothing: antialiased;
}
*/

/* .carousel__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.carousel__btn--left,
.carousel__btn--right {
  top: 120px;
  width: 64px;
  height: 64px;
  display: none;
  background-color: #fff;
  border-radius: 50%;
  border-width: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  outline: 0;
  position: absolute;
  top: 48%;
  z-index: 2;
}

.carousel1,
.carousel__btn--left {
  left: -24px;
}

.carousel1,
.carousel__btn--right {
  right: -24px;
}

*/

.carousel1 {
  width: 108%;
  height: 26.5rem;
  overflow: hidden;
  position: relative;
}

.carousel__container {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -20%;
}

.carousel-item1 {
  display: block;
}

.carousel__btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  text-align: center !important;
  font-size: 30px !important;
  top: 50% !important;
  cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translateY(-50%) !important;
}

.carousel__btn:hover {
  background: #fff;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.carousel__btn--right {
  right: -24px;
}

.carousel__btn--left {
  left: 10px;
}
