body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.bg-nav {
  background-color: #fbe9e7;
}

html {
  background-color: rgb(251, 233, 231, 0.5);
}

h1,
h2,
h3 {
  color: #212121 !important;
}

.w-50 {
  width: 50% !important;
}
