#root {
  background: #fff8e1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #fff8e1 */

.bg-nav {
  background-color: #fbe9e7;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  color: #212121 !important;
}

.w-50 {
  width: 70% !important;
}

.hand {
  cursor: pointer;
}

.card-img-top {
  width: 21.8rem !important;
  height: 19rem !important;
}

.nav-link > .active {
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}

.active {
  color: rgba(0, 0, 0, 0.5);
}

.active:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
