h1,
h3,
h4 {
  font-family: "Courier New", Courier, monospace;
}
#root {
  padding: 0%;
  margin: 0%;
  background: #f6edb6;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  background: #fff8e1;
}

.hand {
  cursor: pointer;
  color: #766b62;
}

.hand:hover {
  cursor: pointer;
  color: #212121;
}

.card-img-top {
  width: 100% !important;
  height: 19rem !important;
  border-radius: 0 !important;
}

.nav-link > .active {
  border-bottom: 3px solid #a49592;
}

.active {
  color: #a49592;
}

.active:hover {
  text-decoration: none;
  color: #a49592;
}

@media (max-width: 550px) {
  .img-style {
    width: 18rem !important;
  }
  .font-size {
    font-size: 1rem !important;
  }
}

.card-title {
  color: #212112 !important;
  text-decoration: none !important;
}

.card-title:hover {
  text-decoration: none;
}

.card-text {
  text-decoration: none !important;
}

.card-text:hover {
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: none !important;
}

h4 {
  color: #212121 !important;
}

p {
  color: #a49592;
}

.yellow {
  background-color: #f6edb6;
}

.brown {
  background-color: #a49592;
}

.green {
  background-color: #c9d6c9;
}

.insta-link {
  color: #212121 !important;
}

/* rgb(124, 146, 124, 1) */

.insta-link:hover {
  color: #ecd3c0 !important;
}

.btn-outline-secondary {
  color: #a49592 !important;
  border-color: #a49592 !important;
}

.btn-outline-secondary:hover {
  color: #c9d6c9 !important;
  background-color: #a49592 !important;
  border-color: #c9d6c9 !important;
}
